<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        #{doLayout /}

	<p>h5Validate adds HTML5 input validation support for IE 9, 8, 7, 6, Chrome, Firefox, Safari, Opera, iPhone, Android and Palm WebOS</p>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="@{'/public/javascripts/jquery.h5validate.js'}"></script>

	<script>
		$(document).ready(function () {
    			$('form').h5Validate();
		});
	</script>
    </body>
</html>
